<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Referral Links</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
  <div class="container">
    <nav class="navbar">
      <div class="logo">
        <a href="/">
          <img src="/icons/mainlogo.svg" alt="Website Logo" style="width: 150px; height: auto;">
        </a>
      </div>
      <div class="user-auth">
        <div th:if="${remoteUser == null}">
          <a th:href="@{/login}" class="btn-login">Login</a>
          <a th:href="@{/register}" class="btn-register">Register</a>
        </div>
        <div th:if="${remoteUser != null}">
          <a th:href="@{/customer}" class="btn-profile">My Profile</a>
          <a th:href="@{/logout}" class="btn-logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
          <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
          </form>
        </div>
      </div>
    </nav>
  </div>
</header>

<section class="hero">
  <div class="container">
    <h1>Explore Referral Links from Top Companies</h1>
    <form id="searchForm" action="/search" method="get" class="search-bar">
      <input type="text" id="search-bar" name="query" placeholder="Search by company name or category..." />
      <button type="submit" class="btn-search">Search</button>
    </form>
  </div>
</section>

<section class="links-list">
  <div class="container" id="blocks-container">
    <!-- Referral links -->
    <div th:each="company : ${companies}" class="block referral-block">
<!--      <img th:src="@{'/icons/' + ${company.getLogo()}}" alt="Company Logo">-->
      <img th:src="${company.getLogo()}" alt="Company Logo">
      <div class="company-info">
        <p class="company-name" th:text="${company.getName()}">Company Name</p>
        <p class="company-industry" th:text="${company.getCategory()}">Category Name</p>
      </div>
<!--      <button class="copy-link-btn" th:data-company-name="${company.getName()}">Copy Link</button>-->
<!--      <button class="open-link-btn" th:data-company-name="${company.getName()}">Open Link in New Tab</button>-->

      <button class="btn-icon copy-link-btn" th:data-company-name="${company.getName()}">
        <img src="/icons/copy.png" alt="Copy Link">
        <span class="tooltip">Copy Link</span>
      </button>

      <button class="btn-icon open-link-btn" th:data-company-name="${company.getName()}">
        <img src="/icons/newtab.png" alt="Open in New Tab">
        <span class="tooltip">Open link in New Tab</span>
      </button>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <p>&copy; 2024 BrandName. All rights reserved.</p>
  </div>
</footer>

<script>
    document.getElementById('searchForm').addEventListener('submit', function(e) {
      e.preventDefault();
      let query = document.getElementById('search-bar').value;
      window.location.href = '/search?query=' + encodeURIComponent(query);
    });

    document.querySelectorAll('.copy-link-btn').forEach(button => {
      button.addEventListener('click', function () {
        let companyName = this.getAttribute('data-company-name');
        fetch('/getRandomLink/' + companyName)
        .then(response => response.text())
        .then(link => {
          navigator.clipboard.writeText(link);
          alert("Link copied to clipboard: " + link);
        });
      });
    });

    document.querySelectorAll('.open-link-btn').forEach(button => {
      button.addEventListener('click', function () {
        let companyName = this.getAttribute('data-company-name');
        fetch('/getRandomLink/' + companyName)
        .then(response => response.text())
        .then(link => {
          window.open(link, '_blank'); // Open the link in a new tab
        });
      });
    });
</script>
</body>
</html>